@model ProjectIepAuction.Models.Database.User

@{
    ViewData["Title"] = "Profile";
}

<div class="container">
  <div class="row">
  <div class="col-2"></div>
  <div class="col-7"><br><br><br>
      <table class="table table-hover table table-bordered">
        <tbody>
            <thead>
                <tr class="table-success">
                    <th colspan="2" style="text-align: center;">Your profile</th>
                </tr>
            </thead>
            <tr class="table-info">
                <td scope="col">Username</td>
                <td scope="col">@Model.UserName</td>           
            </tr>
            <tr class="table-info">
                <td>Tokens</td>
                <td>@Model.tokens</td>
            </tr>
            <tr class="table-info">
                <td>First name</td>
                <td>@Model.firstName</td>
            </tr>
            <tr class="table-info">
                <td>Last name</td>
                <td>@Model.lastName</td>
            </tr class="table-info">
            <tr class="table-info">
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr class="table-info">
                <td>Gender</td>
                <td>@Model.gender</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="nav-link btn btn-primary" asp-controller="User" asp-action="TokenOrders">Token transactions</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="nav-link btn btn-primary" asp-controller="User" asp-action="AuctionWinnerList">Winner auction</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table">
        <tbody>
            <tr>
                <td><a class="nav-link btn btn-primary" asp-controller="User" asp-action="ChangeProfile">Change Profile</a></td>
                <td><a class="nav-link btn btn-primary" asp-controller="User" asp-action="NewPassword">Change password</a></td>
            </tr>
        </tbody>
    </table>
    

    

  </div>
  <div class="col-3">
    
  </div>
</div>
</div>