@model ProjectIepAuction.Models.View.IndexModel

@{
    Layout = "_Layout";
}
@{
string base64 = Convert.ToBase64String(@Model.auction.image);

<div class="card mb-3">
  <img class="card-img-top" src="data:image/png;base64, @base64" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">@Model.auction.name</h5>
    <p class="card-text">@Model.auction.description <br><h3>(Current price : @Model.auction.currentPrice )</h3></p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
</div>

}