@model ProjectIepAuction.Models.View.UserListModel

@{
    ViewData["Title"] = "Auction list";
}

<h1>Auction List</h1>

@if(Model.userList.Any()){
    <a asp-controller="User" asp-action="Register" class = "btn btn-primary mb-3" style="width:auto">Add new auction</a>

    foreach(var auction in Model.auctionList){
        @if(auction.state == "DRAFT"){
            <div class = "card mb-3">
                <div class = "card-header">
                    User Id : @auction.Id;
                </div>
                <div class = "card-body">
                    <h5 class = "card-title">@auction.name</h5>
                    <br>
                    @auction.description; (Create date : @auction.createDate, Start date : @auction.openDate)<br>
                    Start price : @auction.startPrice;
                    <br>
                    <img src='@auction.image'>
                </div>
                <div class = "card-footer">
                    <a href="#" class = "btn btn-danger">Ban</a>
                </div>
            </div>
        }
    }
}
else{
    <div class = "card">
        <div class = "card-header">
            No auctions created yet
        </div>
        <div class = "card-body">
            <h5 class = "card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-asp-controller="User" asp-action="Register">
                Add new user
            </a>
        </div>
    </div>     
}
