@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model ProjectIepAuction.Models.View.UserListModel

@{
    ViewData["Title"] = "Auction list";
}

<h1>Auction List</h1>

@if(Model.auctionList.Any()){
    <a asp-controller="User" asp-action="CreateAuction" class = "btn btn-primary mb-3" style="width:auto">Add new auction</a>
    <div class="card-columns">
    @foreach(var auction in Model.auctionList){
        @if(auction.state == "DRAFT"){
            string base64 = Convert.ToBase64String(auction.image);
            <div id="@auction.Id">
                <div class = "card">
                    <img class="card-img-top" src="data:image/png;base64, @base64" alt="Card image cap" />
                    <div class = "card-header">
                        Auction Id : @auction.Id;
                    </div>
                    <div class = "card-body">
                        <h5 class = "card-title">@auction.name</h5>
                        <br>
                        @auction.description; (Create date : @auction.createDate, Start date : @auction.openDate)<br>
                        Start price : @auction.startPrice;
                    </div>
                    <div class = "card-footer">
                        <button type="button" class="btn btn-success" onclick="acceptAuction('@auction.Id')">Accept</button>
                        <button type="button" class="btn btn-danger" onclick="declineAuction('@auction.Id')">Decline</button>
                    </div>
                </div>
            </div>
        }
    }
    </div>
}
else{
    <div class = "card">
        <div class = "card-header">
            No auctions created yet
        </div>
        <div class = "card-body">
            <h5 class = "card-title">
                Use the button below to create a auction
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-asp-controller="User" asp-action="CreateAuction">
                Add new auction
            </a>
        </div>
    </div>     
}
<div class="row justify-content-center">
@Html.PagedListPager(Model.auctionList, page => Url.Action("AuctionList", new { page = page }),
    new X.PagedList.Web.Common.PagedListRenderOptionsBase
    {
        DisplayPageCountAndCurrentLocation = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" }
    })

    @section Scripts{
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
}

</div>