@model ProjectIepAuction.Models.Database.User

    <div class = "card mb-3">
        <div class = "card-header">
            User Id : @Model.Id
        </div>
        <div class = "card-body">
            <h5 class = "card-title">@Model.UserName (@Model.firstName, @Model.lastName, @Model.Email)</h5>
        </div>
        <div class = "card-footer">
           <button type="button" class="btn btn-danger" onclick="banUser('@Model.UserName')">Ban</button>
    </div>
